* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    height: 100vh;
    /* background: linear-gradient(to bottom, #1254a1 23%, #facc15 95%);*/
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.hero-section .content h2 {
    font-size: 3rem;
    max-width: 600px;
    line-height: 55px;
    font-weight: 800;
}

.hero-section .content p {
    font-weight: 300;
    max-width: 600px;
    margin-top: 15px;
}

.hero-section .content button {
    background: #facc15;
    color: #fff;
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 38px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.menu-links li button {
    background: #facc15;
    color: #fff;
    padding: 8px 15px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.hero-section .content button:hover {
    background: #ca8a04;
}

#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .hero-section .content {
        text-align: center;
    }

    .hero-section .content :is(h2, p) {
        max-width: 100%;
    }

    .hero-section .content h2 {
        font-size: 2.3rem;
        line-height: 40px;
        font-weight: 800;
    }

    .hero-section .content button {
        padding: 9px 18px;
    }
}
